* {
    margin: 0;
    padding: 0;
}

body {
    background-color: snow;
    font-family: "Sen", sans-serif;
}

ul.dropdown-list {
    margin: 0;
    padding: 0;
}



.grid {
    display: grid;
}

.row-banner {
    margin-top: 30px;
    grid-template-columns: 2fr 8fr;
    gap: 30px;
}

.iconmenu {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
}

.iconmenu__listitem {
    margin-left: 10px;
    font-size: 20px;
    margin-right: 10px;
}

.contactinfo__text {
    margin-left: 5px;
}

.one {
    color: rgb(255, 143, 195)
}

.two {
    color: rgb(137, 52, 52);
}

.three {
    color: rgb(145, 223, 230);
}

h1 {
    font-size: 40px;
    font-family: "Overlock", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h2 {
    font-size: 38px;
}

.row {
    display: flex;
}

.flex {
    display: flex;
}

.inline {
    display: inline;
}
.inline-block {
    display: inline-block;
}

a {
    text-decoration: none;
    color: inherit;
}

.boxmenu__listitem {
    padding: 5px 10px;
    display: block;
    border-bottom: 1px solid rgb(200, 200, 200);
    text-decoration: none;
}

.boxmenu__list {
    margin: 0;
    padding: 0;
    border: 1px solid rgb(200, 200, 200);
    line-height: 2;

}

ul {
    list-style-type: none;
}

.blue {
    padding: 15px;
    background-color: royalblue;
    /* text-align: center; */
    color: snow;
    margin-left: auto;
    margin-right: auto;
}

.white {
    padding: 15px;
    background-color: snow;
    /* text-align: center; /////control+ä - comment shorcut*/
    color: snow;
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
}

img {
    max-width: 100%;
    height: auto;
}

.flex_space_between {
    justify-content: space-between;
    align-items: center;
}

.dropdown__menu {
    display: none;
}

.top-right-menu-logos {
    color: royalblue;
}

/* .navmenu {

} */

.navmenu__list {
    gap: 20px;
}

.dropdown:hover {
    color: rgb(255, 132, 173);
}

.logo__img {
    max-height: 25px;
}

.banner {
    background-image: url(vr.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 40vh;
    display: flex;
    align-items: center;
}

.banner__heading {
    color: snow;
    font-size: 34px;
    max-width: 50%;

}

.banner__container {
    padding: 40px;
}

.button {
    display: inline-block;
    padding: 1em;
    letter-spacing: 2px;
    border-radius: 6px;
    letter-spacing: 2px;
    border: 2px solid royalblue;
    background-color: white;
    margin-top: 15px;
}

.overlock-regular {
    font-family: "Overlock", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.overlock-bold {
    font-family: "Overlock", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.searchbar__form {
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.searchbar__icon {
    padding: 10px;
}

.searchbar__select {
    padding: 10px;
}

.text-align-center {
    text-align: center;
}

.h1-popular {
    padding: 30px;
}

* {
    box-sizing: border-box;
  }

  .row-popular {
    display: flex;
    gap: 30px;
    padding-bottom: 80px;
    text-align: center;
    line-height: 1.5;
  }

  .product__h1 {
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 40px;
  }

  .new-arrival-products-section {
    background-color: #ebf0d6;
    padding-top: 90px;
  }

  .product__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  .product__item {
    text-transform: capitalize;
    font-family: "Overlock", sans-serif;
  }

  .product__name {
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
  }

  .product__price {
    font-family: "Sen", sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .product__rating {
    text-align: center;
    color: #ffa441;
  }

 .product__ratingamount {
    display: inline;
    color: black;
    font-family: "Sen", sans-serif;
}

.product__option {
    display: flex;
    padding: 2px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    margin-right: 5px;
}

.product__option-arsenic {
    background-color: #bfb9a6;
}

.product__option-silver {
    background-color: #dddddd;
}
.product__option-white {
    background-color: white;
}

 .section-vendors {
    background-color: snow;
}
  